#gameField{
    display:grid;
    background-color:#000000;
    grid-template-columns: repeat(60, 12px);
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

* {
  box-sizing: border-box;
}


.gameOverOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 500;
  background: rgba(255, 0, 0, 0.5);
  overflow:hidden;
}

.startOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 500;
  background: rgba(240, 239, 239, 0.5);
  overflow:hidden;
}

#scoreDiv {
    padding-top: 5px;
    margin: 0 auto;
}

.labelStyle {
  margin-left: 5px;
  margin-right: 5px;
}

span {
  color: #ff0000;
}

input {
  height:25px;
}

#submitDiv {
  margin-top: 5px;
}

button {
  border-radius: 5px;
  height:25px;
  border:none;
  background: rgb(56, 141, 251);
  margin: 0.1em;
  margin-left: 10px;
  z-index: 999;
}

button:hover {
  background: rgb(56, 42, 255); /* Green */
  color: white;
}

// .redGhostRight {
//     background-image: url('../../assets/images/redGhostRight.png');
//     background-repeat: no-repeat;
//     background-size:  contain;
//   }

//   .yellowGhostRight {
//     background-image: url('../../assets/images/yellowGhostRight.png');
//     background-repeat: no-repeat;
//     background-size:  contain;
//   }

//   .blueGhostRight {
//     background-image: url('../../assets/images/blueGhostRight.png');
//     background-repeat: no-repeat;
//     background-size:  contain;
//   }

//   .greenGhostRight {
//     background-image: url('../../assets/images/greenGhostRight.png');
//     background-repeat: no-repeat;
//     background-size:  contain;
//   }

