:host {
  height: 100%;
}

#gameField{
    display:grid;
    background-color:#000000;
    grid-template-columns: repeat(60, 12px);
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

* {
  box-sizing: border-box;
}

.controlButtons {
  border: none;
  background: none;
}

.controlButtons:active {
    //background-color: #3e8e41;
    //box-shadow: 0 5px #666;
    transform: translateY(4px);
  
}

#mobileControls {
  margin-top: 6px;
  top: 100px;
  bottom: 0;
  width: 100%;
}

#gameOverMessage {
  font-size: 10vw; 
  font-weight: bold;
  position: absolute;
  z-index: 600;
}

.gameWonOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 500;
  background: rgba(0, 248, 95, 0.7);
  overflow:hidden;
}

.gameOverOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 500;
  background: rgba(255, 0, 0, 0.5);
  overflow:hidden;
}

.startOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 500;
  background: rgba(240, 239, 239, 0.5);
  overflow:hidden;
}

#scoreDiv {
    padding-top: 3px;
    margin: 0 auto;
}

.labelStyle {
  margin-left: 5px;
  margin-right: 5px;
}

span {
  color: #ff0000;
}

input {
  height:25px;
}

#submitDiv {
  margin-top: 5px;
}

.buttons {
  border-radius: 5px;
  height:25px;
  border:none;
  background: rgb(56, 141, 251);
  margin: 0.1em;
  margin-left: 10px;
  z-index: 999;
}

.buttons:hover {
  background: rgb(56, 42, 255);
  color: white;
}