
<div id="scoreDiv" tabindex="0"  >
    <div class="center" id="controlsDiv">
        <button *ngIf="!this.gameHasStarted" (click)="this.onStartGame()" >Start game</button>
        <label class="labelStyle"><b>Lives: <span>{{this.map.pacman.lives}}</span></b> </label>
        <label class="labelStyle"><b>Score: <span>{{this.map.mapScore}}</span></b> </label>
        <label class="labelStyle"><b>Highscore: <span>{{scoreService.scores[0]}}</span></b> </label>
        <button [routerLink]="['/scoreboard']">Scoreboard</button>
        <button [routerLink]="['/help']">Help</button>
    </div>

    <label id="gameOverMessage"><b></b></label>
    <div id="startOverlay" class="startOverlay"></div>
    <div id="wonOverlay" class="gameWonOverlay"></div>
    <div id="over" class="gameOverOverlay"></div>
    
    <div id="gameField" >
    </div>
<!-- 
    <div>
        <label style="margin-left: 10px;"><b>{{this.map.foodCount}}</b></label>
    </div> -->

    <div class="center" *ngIf="this.isGameOver" id="submitDiv"> 
        <label class="labelStyle"><b>Enter message to appear on the scoreboard:</b> </label>
        <input [(ngModel)]="this.scoreMessage">
        <button (click)="this.onSubmitScore()" >Submit score</button>
    </div>
</div>