<div class="container">
    <div class="container-fluid">
        <div class="card mt-3">
            <div class="card-body center" >
                <h1>Scoreboard</h1>
            </div>
          </div>
          <div class="card mt-3" >
            <div class="card-body ">
                <ol>
                    <li *ngFor="let score of scoreList"><span><b>Points: </b></span>{{score}}</li>
                </ol>
            </div>
          </div>

          <div class="text-center"> 
            <button id="returnButton" [routerLink]="['/game']" class="btn btn-primary buttonStyle">Return to game</button>
          </div>
    </div>
</div>