label {
    white-space: inherit;
    word-break: break-all;
}

.center {
    text-align: center;
}

table {
    width: 100%;
}

p {
    font-size: 12px;
}

#foodImg {
  margin-left: 6px;
}

#returnButton {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: -5px;
}